- if notice
  .alert.alert-success.alert-dismissable
    %button.close{type:"button", data:{dismiss:"alert"}, 'aria-hidden' => true} &times;
    %span.glyphicon.glyphicon-ok-sign
    = notice

- if alert
  .alert.alert-danger.alert-dismissable
    %button.close{type:"button", data:{dismiss:"alert"}, 'aria-hidden' => true} &times;
    %span.glyphicon.glyphicon-exclamation-sign
    = alert

