- if current_user
  %p.navbar-text.navbar-right
    Logged in as #{current_user.name}
    (#{link_to 'Sign out', sign_out_path, method: :delete, class: 'navbar-link'})
- else
  = button_to 'Sign in with Facebook', 'auth/facebook', class: "btn btn-default navbar-btn navbar-right"

