<div class="jumbotron">
  <%= image_tag 'hop_icon_left.png', class: 'pull-right' %>
  <h1>SD Brew Hop</h1>
  <p class="lead">Track the breweries you've visited in San Diego! Can you <strong>hop</strong> them all?</p>
  <p>According to our records, there are currently <%= link_to pluralize(Brewery.count, 'breweries'), breweries_path %> in San Diego County. We wanted to create a way for people to keep track of the ones they have been to and get suggestions for new ones to visit.</p>
  <p>Also, with over 30 more breweries currently in the process of opening, we wanted to provide a place to keep track of all the breweries in the county.</p>
  <p>
    <%= link_to 'Sign in with Facebook to get started!', user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg btn-block", role: "button" %>
  </p>
</div>
