// Home
#home-map {
  width: 100%;
  height: 400px;
}

.img-wall {
  width: 310px;
  height: 250px;
}

// User profile
.img-wall-long {
  max-width: 490px;
}

// Activities
.activities {
  margin-top: 40px;
}

.hop-image {
  height: 75px;
}

.hop-message {
  margin: 20px 0 20px 10px;
}

// Hops
.hop-container {
  margin-top: 20px;
}

// Breweries
.brewery-image {
  width: 100%;
  height: 175px;
  overflow: hidden;
}

.brewery-map-container {
  margin-top: 10px;
}

.brewery-map {
  width: 100%;
  height: 250px;
}

.hop-button {
  font-size: 2.5em;
}

// Helpers
.large-text {
  font-size:2.5em;
}

.small-text {
  font-size: 14px;
}
