%h1 Recent Activity on SD Brew Hop

- if @activities.any?
  %ul.list-unstyled{style:"margin-top:40px;"}
    - for activity in @activities
      %li.activity.panel.panel-default= render partial: 'activity', locals: { activity: activity }
- else
  No activity, tell your friends to start hopping!

